POSTGRES_PASSWORD="password here"
POSTGRES_DB="xitterdb"
JWTSECRET=""
SERVER_ROOT="server host here"
UPLOADS_PATH="path to host uploads folder"
MAIL_SERVER="smtp.example.com"
MAIL_USERNAME="address here"
MAIL_PASSWORD="password here"
MAIL_REQUIRED="1 for turned on 0 for turned off"